/* 选车页面下的选车、二手车、金融的css */
.active-two{
    border-bottom: 2px solid black;
  }
  .cartaber{
    background-color: white;
  }
  .cartaber ul{
    font-size: 0px;
    position: relative;
  }
  .cartaber ul li{
    display: inline-block;
    width: calc( 100% / 3.5 );
    font-size: 15px;
   
    text-align: center;
  }
  .cartaber ul li p{
     padding: 10px 0px;
  }
  .cartaber ul li img{
    width: 100%;
    vertical-align: middle;
  }
  .cartaber ul li:last-child{
    width: 20px !important;
    position: absolute;top: 9px;
    right: 10px;
  }