*{
    padding: 0;
    margin:0;
    font-family: "微软雅黑";
    box-sizing: border-box; 
    outline: none;
}
ul,li {
    list-style: none;
  }
body{
    background-color: #DBDBDB;
}
a{color: black;text-decoration: none;}
.clear{clear: both;}
.clearfix:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}
.background_white{    background:white;  }
.float_left{float: left;}
.float_right{float:right}
.padding_67_75{padding: 33px 37px;}
.margin-bottom_231{margin-bottom: 115px;}
.margin-bottom_30{margin-bottom: 30px;}
.margin-bottom_85{margin-bottom: 85px;}
.margin-bottom_75{margin-bottom: 75px;}
.margin-bottom_10{margin-bottom: 6px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-bottom_47{margin-bottom: 47px;} 
.text-indent_2em{text-indent: 1em;}
.text-indent_3em{text-indent: 3em;}
.alert_text{font-size:12px;color: red;}
.line-block{
    display: inline-block;
}
.position{
    position: relative;
}
.width100{
    width: 100% !important;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-align-center{text-align: center;}
.text-size{
    font-size: 0px !important;
}
.text-size18{
    font-size: 18px !important;
}
.text-size15{
    font-size: 15px;
}
.text-size14{
    font-size: 14px;
}
.text-size13{
    font-size: 13px !important;
}
.text-size12{
    font-size: 12px;
}
.text-size10{
    font-size: 10px;
}
.line-height20{
    line-height: 20px
}
.line-height30{
    line-height: 30px;
}
.padding-left10{
    padding-left: 10px;
}
.padding-top15{
    padding-top: 15px;
}
.padding-bottom5{
    padding-bottom: 5px;
    }
.border-bottom{
border-bottom: 1px solid #DBDBDB;
}
/* 新添加的公共样式 */
.border-right{
    border-right: 1px solid #cccccc;
    }
.bgc{
    background-color: white;
}
.color-white{
    color:white;
}
.color{
    color: rgba(255,96,0,1);
}
.color51{
    color: rgba(51,51,51,1);
}
.color-red{
    color: red;
}
.color2{
    color: rgba(102,102,102,1) !important;
}
.btn1{
    width: 80px;
    padding: 5px 10px;
    color: white;
    background-color: rgba(231,148,60,1);
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.refund{
    width: 50px;
    border: 0.5px solid rgba(231,148,60,1);
    border-radius: 2px;
    color: rgba(190,113,32,1);
    font-size: 10px;
    line-height: 14.85px;
    text-align: center;
    vertical-align: middle;
}

/* 一条短线 */
.gray_line_d{
    width:100%;
    height: 1px;
    background:#e1e1e1;
  }

/* 底部 */
.mint-tabbar{
    position: fixed;
}

/* 头部 */
.mint-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 44px;
    line-height: 1;
    padding: 0 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    border-bottom: none;
  }

  /*咨询详情头部  */
  .mint-header{
    background-color: #FFFFFF;
}
  .mint-header-title{
    font-size: 18px;
    line-height: 20px;
  }
 .header-right img{
    width:100%;
 }
 .mint-header .mint-button {
  width: 19.5px;
  height: 19px;
  font-weight: bold;
  margin-right: 15px;
 }
  /*咨询详情头部  */

  /* 我的订单 头部跳转 */
.mint-navbar .mint-tab-item {
    padding: 12px 0px;
    margin: 0 10px;
    font-size: 15px;
}
.mint-navbar .mint-tab-item a{
    font-size: 15px;
}
.mint-navbar .mint-tab-item.is-selected{
    border-bottom: 2px solid black;
    color: black;
}
.mint-navbar .mint-tab-item.is-selected a{
    color: black;
}
.mint-navbar .mint-tab-item{
    border-bottom: 2px solid rgb(255, 255, 255) ;
}
.mint-navbar .mint-tab-item a{
    color: rgba(102,102,102,1);
}
.mint-button-icon{
    vertical-align:top !important;
}
/* 我的订单 头部跳转 */

/* 右箭头 */
.mint-cell-wrapper{    
    padding:0 15px !important;
    
}
.mint-cell-text{    
    font-size:14px;    
    color:#333333;
}
.mint-cell-allow-right::after{    
    right:15px !important;    
    width:8px !important;    
    height:8px !important;   
    border: 2px solid #999 !important;    
    border-bottom: none !important;   
    border-left:none !important;
}
.mint-cell-value.is-link span{
    font-size:14px;
}
.mint-field-core{
    font-size:14px;
    text-align: right;
}
/* 右箭头 */


/* 选车轮播图 */
.mint-swipe-indicator{
    width: 5px  !important;
    height:5px !important;
    border-radius: 1px !important;
    opacity: 0.8 !important;
    }
    .mint-swipe-item{
    background-color: white !important;
    }
    .mint-swipe-indicator.is-active{
    background-color: #1296db !important;
    }
    .mint-swipe-indicator{
    background-color: #c6c6c6;
    }
/* 选车轮播图 */

/* 最下面支付公共样式 */
.height_47{
    width:100%;   
    height:47px;  
}  
.line_height_47{
    line-height: 47px;  
}  
.bottom_pay{    
    width:100%;    
    height: 47px;    
    background: rgba(249,249,249,1);    
    position: fixed;    
    bottom:0;    
    left:0;  
}  
.online_img{   
     width:25px;    
     height:25px;    
     margin-left:18px;   
      margin-top:4px;  
    } 
.online_img img{    
    width:100%;  
}  
.online_word{    
    font-size:10px;   
    margin-left:10px;  
}  
.small_word{    
    font-size:10px;  
}  
.normal_word{    
    font-size: 14px;    
    color: red;  
}  
.pay_btn{    
    width:149px;   
    height:47px;    
    font-size:18px;    
    background:rgba(231,148,60,1);    
    color:white;    
    border:none;  }  

.pay_btn_small{    
    width:90px;        
    height:30px;        
    font-size:16px;        
    background:rgba(231,148,60,1);        
    color:white;        
    border:none;     
    border-radius: 5px;    
    margin-right:10px;    
    margin-left:10px;
}
/* 最下面支付公共样式 */

/* 预约弹窗 */
.appoint-pop-box{
    width:100%;
    position:fixed;
    top:230px;
    left:0;
}
.appoint-pop-box-pad{
    padding-left:40px;
    padding-right:40px;
}
.appoint-pop{
    width:100%;
    height:120px;
    border:1px solid #f2f2f2;
    background:#f2f2f2;
    border-radius:15px;
}

.appoint-line{
    width:100%;
    height:1px;
    background:#9EA6B7;
    
}
.appoint-word{
    font-size:16px;
    color:black;
    line-height:70px;
    text-align:center;
}
.appoint-call{
    width:50%;
    line-height:50px;
    color:#0076FF;
    border-right:1px solid  #9EA6B7;
    text-align: center;
    font-size:16px;
}
.appoint-cancel{
    width:50%;
    line-height:50px;
    color:#0076FF;
    text-align: center;
    font-size:16px;
}



.padding-left3{
    padding-left: 3em;
    }
.margin-right0{margin-right: 0px !important; }
.text-indent2{text-indent: 30px;}
.padding-left3{
    padding-left: 3em;
    }
    .border-radius6{
        border-radius: 6px;
        }
        .padding5{
        padding: 5px 0px;
        }
        .border-right{
        border-right: 1px solid #cccccc;
        }
        .border-bottom{
            border-bottom: 1px solid #DBDBDB !important;
            }